<div class="conteiner_big_card">
  <div class="bigcard_img">
    <img src="https://cdn.pixabay.com/photo/2018/06/07/16/49/virtual-3460451_1280.jpg" alt="" width="360vh" ></div>
     <div class="bigcard_title">
       <h2> <a href="#"> Realidade virtual se tornou febre?</a></h2>
     </div>
        <div class="bigcard_script">
         <p> <a href="#"> Foi criada uma interface capaz de enganar os sentidos de um usuário,
         por meio de um ambiente virtual, criado a partir..</a></p>
        </div>

</div>
