.contaneir_menutitle > h1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 135px;
  display: flex;
  justify-content: center;
  font-weight:900;

}
.contaneir_menutitle > hr{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 135px;
  display: flex;
  justify-content: center;
}

