.contaneir_small_card{
 width: 100%;
 display: flex;
 margin-left: 10px;
 padding: 20px; ;


}
.contaneir_small-card-content{
  display: flex;
  justify-content: flex-start;

}
.small_card_photo > img{
  width: 200px;
}


.small_card_title> h1 > a{
 font-size: 15px;
 padding: 15px;
}

