.menu_container_bar{
  margin-top: 25px;
}
.menu_container_bar> ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.menu_container_bar> ul >li{
  margin-right: 10px;
  list-style: none;

}
